$primary-color = #FF7700
$secondary-color = rgba(131, 102, 86, 0.12)
$dark-text-color = #2E2F33
$light-text-color = #FFFFFF
$primary-counter-color = rgba(255, 255, 255, 0.12)
$secondary-counter-color = rgba(131, 102, 86, 0.12)
$focus-outline-color = #0099FF
$counter-border-color = rgba(255, 255, 255, 0.3)
$light-gradient = linear-gradient(
  to right,
  rgba(255, 255, 255, 0) 0%,
  rgba(255, 255, 255, 1) 50%,
  rgba(255, 255, 255, 0) 100%
  )
$dark-gradient = linear-gradient(
  to right,
  rgba(131, 102, 86, 0) 0%,
  rgba(131, 102, 86, 1) 50%,
  rgba(131, 102, 86, 0) 100%
  )

